@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
body{
    background: url('./pizza.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    height: 100%;
    margin: 0;
    width: 100%;
}
#content{
    margin: 0px;
    height: 100%;
    width: 100%;
}
#navArea{
    height: 7vh;
    background-color: rgb(31, 31, 31,.8);
    display: flex;
    justify-content: space-between;
    align-content: center;
}
#navArea button{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}
#logoDiv{
height: 70px;
margin: 0px 10px 10px 25px;
width: 200px;
padding: 0px;
}
#logo{
    width: 300%;
    height: 400%;
    object-fit: contain;
    object-position: top;
    margin:-50% -50% -50% -100%;
}
#buttonArea{
    display: flex;
    font-weight: bold;
}
h1{
    font-weight: bold;
    margin: 0px;
}

/* This is for the homePage section*/
#hero{
    width: 100%;
    height: 93vh;
    margin: 0px;
    text-shadow: 4px 4px 4px #000000;
}
#hero h1{
    color: white;
    font-size: 80px;
    font-family: 'Playfair Display', serif;
    padding: 15vh 50vw 0vh 0vh;
    text-align: center;
}
#hero p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    padding: 0vh 50vw 0vh 0vh;
    text-align: center;
}
#navButton{
    background-color:#d10a0a;
    border-color: rgb(20, 20, 20);
    border-radius: 20%;
    border-style: solid;
    color: white;
    cursor: pointer;
    margin: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: bold;
    height: 70px;
    margin: 0vh 0vw 0vh 23vh;
    text-align: center;
    text-shadow: 2px 2px 2px #2c2c2c;
    width: 300px;
}

/* This is for the contactPage section*/

#contactHero{
    background: url('./contactUs.png');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 30vh;
    width: 100%;
    margin: 0px 0px 20px 0px;
    text-shadow: 4px 4px 4px #2c2c2c;
}
#contactHero h1{
    color: white;
    font-size: 80px;
    font-family: 'Playfair Display', serif;
    padding: 30px 0 0 0;
    text-align: center;
}
#contactDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px;
}
.contactImage{
    border-radius: 50%;
    height: 250px;
    width: 250px;

}

#address, #email, #phone{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#contactDiv p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

/* This is for the menuPage section*/
#menuHero{
    background: url('./menuHero.jpg');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 30vh;
    width: 100%;
    margin: 0px 0px 20px 0px;
    text-shadow: 4px 4px 4px #2c2c2c;
}
#menuHero h1{
    color: white;
    font-size: 80px;
    font-family: 'Playfair Display', serif;
    padding: 30px 0 0 0;
    text-align: center;
}
#menuArea{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.menuImage{
    border-radius: 10%;
    height: 250px;
    width: 350px;
}
.menuArea{
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.menuArea h1{
    margin: 10px;
    font-size: 40px;
    font-weight: bold;
}
.menuArea p{
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}
footer {
    background-color: rgb(44, 44, 44,.85);
    bottom:0;
    color: whitesmoke;
    display: flex;
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
    left:0;
    position:fixed;
    text-shadow: 2px 2px 4px #000000;
    width: 100%;
   }