body{
    display: inline-block;
    width: 100%;
    margin: 0;
}
#content{
    display: inline;
}
#navArea{
    background-color: rgb(31, 31, 31);
    display: flex;
    
}
#navArea button{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
}
#logoDiv{
height: 70px;
width: 200px;
background-color: red;
padding: 0px;
}
#logo{
    width: 300%;
    height: 400%;
    object-fit: contain;
    object-position: top;
    margin:-50% -50% -50% -100%;
}
h1{
    font-weight: bold;
}